<configuration>
  <root level="warn">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <name>STDOUT</name>
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{request-id}] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>
  </root>
</configuration>
