version: 2
jobs:
  test_jdk8_with_coverage:
    working_directory: ~/styx
    docker:
      - image: maven:3.5.4-jdk-8
    steps:
      - checkout
      - restore_cache:
          key: v2-deps-{{ checksum "pom.xml" }}
      - run: mvn -B dependency:go-offline compile test-compile -P disable-static-analysis
      - save_cache:
          key: v2-deps-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2
      # Run tests without static analysis
      - run:
          name: Tests
          environment:
            # Configure datastore emulator heap size
            JAVA: java -Xmx512m -Xms512m
            # Maven heap size
            MAVEN_OPTS: -Xmx256m -Xms256m
          command: mvn -B verify -P disable-static-analysis
      - run: bash <(curl -s https://codecov.io/bash) -f '!**/jacoco-aggregate/**'
      - run: |
          mkdir test-reports
          find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} test-reports/ \;
      - store_test_results:
          path: test-reports/
      - store_artifacts:
          path: styx-report/target/site/jacoco-aggregate/
          destination: jacoco-aggregate
      # Run static analysis after tests
      - run:
          name: Static Analysis
          when: always
          command: mvn -B clean compile test-compile

  test_jdk11:
    working_directory: ~/styx
    docker:
      - image: maven:3.5.4-jdk-11-slim
    steps:
      - checkout
      - restore_cache:
          key: v2-deps-jdk11-{{ checksum "pom.xml" }}
      - run: mvn -B dependency:go-offline compile test-compile -P disable-static-analysis
      - save_cache:
          key: v2-deps-jdk11-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2
      - run:
          name: Tests
          environment:
            # Configure datastore emulator heap size
            JAVA: java -Xmx512m -Xms512m
            # Maven heap size
            MAVEN_OPTS: -Xmx256m -Xms256m
          command: mvn -B verify -P disable-static-analysis
      - store_test_results:
          path: test-reports/
      - store_artifacts:
          path: styx-report/target/site/jacoco-aggregate/
          destination: jacoco-aggregate
      - run:
          name: Static Analysis
          when: always
          command: mvn -B clean compile test-compile

workflows:
  version: 2
  build:
    jobs:
      - test_jdk8_with_coverage
      - test_jdk11
